


body {
	margin: 0;
	padding: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}

hr {
	width: 100%;
}

.wrap {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.cont {
	background-color: #ccc;
	margin: 5px 0;
	width: 700px;
	text-align: center;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}

.del {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: #abd;
	padding: 3px;
	cursor: pointer;
	border-radius: 5px;
	color: red;
}

.sort:hover {
  background: yellow;
  cursor: pointer;
}